#app2 {
  border: 1px solid blue;
}
#app2 .tab-bar {
  /*记得加空格*/
  display: flex;
}
#app2 .tab-bar > li {
  width: 50%;
  border: 3px solid black;
}
#app2 .tab-bar > li.selected {
  background: rgb(253, 221, 155);
  color: white;
}
#app2 .content {
}
#app2 .tab-content > li {
  display: none;
}
#app2 .tab-content > li.active {
  display: block;
}
